ul{
    list-style: none;
    position: relative;
}
li::before{
    content: "–";
        position: absolute;
        left: 0px;
        line-height: 25px;
    }
html{
    counter-reset: item 0;
}
body {
    counter-reset: section 0;
}
.count::before{
    content: "0" counter(item) ".";
    counter-increment: item;
}
.countContent::before {
    content: "0" counter(section) ". ";
    counter-increment: section;
    font-family: "Source Code Pro";
}
.noUnderline{
    text-decoration: none;
}

.mobile-list li::before {
    content: "";
    list-style-type: none;
}

.loader-text{
    font-family: 'Source Code Pro';
    font-size: calc(32px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}