@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;600&family=Source+Code+Pro:wght@300;400;500&display=swap');

ul{
    list-style: none;
    position: relative;
}
li::before{
    content: "–";
        position: absolute;
        left: 0px;
        line-height: 25px;
    }
html{
    counter-reset: item 0;
}
body {
    counter-reset: section 0;
}
.count::before{
    content: "0" counter(item) ".";
    counter-increment: item;
}
.countContent::before {
    content: "0" counter(section) ". ";
    counter-increment: section;
    font-family: "Source Code Pro";
}
.noUnderline{
    text-decoration: none;
}